
!! make fonts look smooth
Xft.antialias: true

!! fix for home/end (disable this if using zsh)
!!URxvt.keysym.Home:    \033[1~
!!URxvt.keysym.End:     \033[4~
!!URxvt.keysym.KP_Home: \033[1~
!!URxvt.keysym.KP_End:  \033[4~

!! scrolling
URxvt.scrollBar:         false
! do not scroll with output
URxvt*scrollTtyOutput:   false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:  true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable ctrl+shift iso mode
URxvt*iso14755: false
URxvt*iso14755_52: false

!! extensions
URxvt.perl-ext-common: keyboard-select
URxvt.keysym.M-j:      perl:keyboard-select:activate
URxvt.keysym.M-s:      perl:keyboard-select:search

!! theming
URxvt.font:          xft:Fira Mono:pixelsize=16,style=regular
URxvt.depth:         32
URxvt.background:    [85]#000000
URxvt.foreground:    #ffffff

!! 'fake transparency'
! URxvt.inheritPixmap: true
! URxvt.transparent:   true
! URxvt.shading:       15

URxvt.color0: #353535
URxvt.color1: #E64569
URxvt.color2: #89D287
URxvt.color3: #DAB752
URxvt.color4: #439ECF
URxvt.color5: #D961DC
URxvt.color6: #64AAAF
URxvt.color7: #B3B3B3
URxvt.color8: #535353
URxvt.color9: #E4859A
URxvt.color10: #A2CCA1
URxvt.color11: #E1E387
URxvt.color12: #6FBBE2
URxvt.color13: #E586E7
URxvt.color14: #96DCDA
URxvt.color15: #DEDEDE
